/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
  }

  .navbar{
    background-color: rgb(0, 0, 0) !important;
  }
  .navbar-brand{
    color: white !important;
  }
  .navbar-link{
    color: white;
  }

  .navbar-brand{
    font-style:italic;
  }
  .navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  

  